html{
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
}

/*classes*/

.colonne-gauche{
    width: 40%;
}

.colonne-droite{
    width: 60%;
}

.couleur{
    background-color: aquamarine;
}

/*display*/

section{
    display: flex;
    flex-wrap: row wrap;
}

article .colonne-gauche{
    flex-wrap: wrap;
}

body{
    margin: 50px;
    background-color: cadetblue;
}
div img{
   width: 100%;
   height: auto;
}

article{
    padding: 30px;
}

h1 {
    text-align: center;
}


div p{
    margin-top: 50px;
    width: 40%;
}